<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>JIROTTER</title>
	<link rel="shortcut icon" href="">
	<link rel="stylesheet" href="../css/jirotter.css">
	<link rel="stylesheet" href="../css/normalize.css">
	<!--[if IE]>
					<script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
					<script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="container">
		<header>
			<div class="header">
				<h1>
					<img src="" alt="">
				</h1>
				<div class="favorite">
					
				</div>
			</div>
		</header>
		<section>
			<div id="main" class="cf">
				<ul>
					<li>
						<a href="">
							<h2>１位 二郎　本店</h2>
							<dl>
								<dt>ポジティブ</dt>
								<dd>僕「二郎系好きらしいやん！」金「めっちゃ好きですよー！」僕「二郎系のなんてお店？」金「二郎系ってかラーメン二郎だよね！ｗ」僕「マジ！？ｗ 三田本店？」金「ちがーう」僕「どこ？」金「教えなーいｗ」僕「エェー？」</dd>
							</dl>
							<dl>
								<dt>ネガティブ</dt>
								<dd>僕「二郎系好きらしいやん！」金「めっちゃ好きですよー！」僕「二郎系のなんてお店？」金「二郎系ってかラーメン二郎だよね！ｗ」僕「マジ！？ｗ 三田本店？」金「ちがーう」僕「どこ？」金「教えなーいｗ」僕「エェー？」</dd>
							</dl>
						</a>
						<a href="">もっとみる</a>
					</li>
					<li>
						<a href="">
							<h2>2位 二郎　本店</h2>
							<dl>
								<dt>ポジティブ</dt>
								<dd>僕「二郎系好きらしいやん！」金「めっちゃ好きですよー！」僕「二郎系のなんてお店？」金「二郎系ってかラーメン二郎だよね！ｗ」僕「マジ！？ｗ 三田本店？」金「ちがーう」僕「どこ？」金「教えなーいｗ」僕「エェー？」</dd>
							</dl>
							<dl>
								<dt>ネガティブ</dt>
								<dd>僕「二郎系好きらしいやん！」金「めっちゃ好きですよー！」僕「二郎系のなんてお店？」金「二郎系ってかラーメン二郎だよね！ｗ」僕「マジ！？ｗ 三田本店？」金「ちがーう」僕「どこ？」金「教えなーいｗ」僕「エェー？」</dd>
							</dl>
						</a>
						<a href="">もっとみる</a>
					</li>
					<li>
						<a href="">
							<h2>3位 二郎　本店</h2>
							<dl>
								<dt>ポジティブ</dt>
								<dd>僕「二郎系好きらしいやん！」金「めっちゃ好きですよー！」僕「二郎系のなんてお店？」金「二郎系ってかラーメン二郎だよね！ｗ」僕「マジ！？ｗ 三田本店？」金「ちがーう」僕「どこ？」金「教えなーいｗ」僕「エェー？」</dd>
							</dl>
							<dl>
								<dt>ネガティブ</dt>
								<dd>僕「二郎系好きらしいやん！」金「めっちゃ好きですよー！」僕「二郎系のなんてお店？」金「二郎系ってかラーメン二郎だよね！ｗ」僕「マジ！？ｗ 三田本店？」金「ちがーう」僕「どこ？」金「教えなーいｗ」僕「エェー？」</dd>
							</dl>
						</a>
						<a href="">もっとみる</a>
					</li>
				</ul>
			</div>
		</section>
	</div>
</body>
</html>